body {
    background-color: #333;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin: 20px 0;
}

h1, h2, h3 {
    color: #ddd;
}

p {
    color: #ccc;
}

a {
    color: #fff;
}

a:hover {
    color: #bbb;
}

#contact {
    background-color: #444; /* Darker grey background for contact section */
    padding: 20px;
}

#contact h2 {
    color: #ddd;
}

#Resume {
    background-color: #555; /* Another shade of grey for the resume section */
    padding: 20px;
}

#Resume p {
    color: #ccc;
}
