body {
    background-color: #1e1e1e;
    color: #ccc;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #555;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
}

.dark-section {
    background-color: #333;
}

.light-section {
    background-color: #444;
}

h1, h2, h3 {
    color: #3498db;
}

a {
    color: #3498db;
}

a:hover {
    color: #207b99;
}

#Resume {
    background-color: #333; /* Add or adjust the background color */
}

#Resume .resume-content {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align to the right */
}

.profile-photo {
    max-width: 200px; /* Adjust the size as needed */
    height: auto;
    margin-left: 20px; /* Adjust the spacing between the text and the photo */
    border-radius: 50%;
}
